@import url('../../assets/colors/cave-color.less');

.current-language-selected {
  background: @black-color !important;
}

:host {
  .header {
    background: linear-gradient(90deg, @white-wine 0%, @red-wine 100%);

    & .header-title {
      color: @gray-color;
      text-decoration: none;
      font-size: medium;
    }

    & .icon-menu {
      font-size: 30px;
    }
  }

  ::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
    height: 90px;
  }

  @media screen and (min-width: 768px) {
    /* enter some CSS */
    ::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
      height: 60px;
    }
  }
}
