<!--

<app-footer></app-footer> -->

<div class="app-container" [class.container-is-mobile]="mobileQuery.matches">
    <app-header [sidenav]="snav" class="container-toolbar"></app-header>

    <mat-sidenav-container class="sidenav-container" autosize>
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
       [fixedInViewport]="mobileQuery.matches" fixedTopGap="0" [opened]="!mobileQuery.matches">
        <mat-nav-list class="d-flex flex-column pt-3">
          <button class="ml-5 mb-5" *ngIf="mobileQuery.matches" (click)="snav.toggle()" mat-icon-button aria-label="icon button with a close icon">
            <mat-icon class="icon-close">close</mat-icon>
          </button>
          <a class="align-self-center router-link" mat-list-item routerLink="/products">{{'link.presentation' | translate}}</a>
          <a class="align-self-center router-link" mat-list-item routerLink="/products">{{'link.products' | translate}}</a>
          <a class="align-self-center router-link" mat-list-item routerLink="/products">{{'link.job' | translate}}</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>



