<!--

<app-footer></app-footer> -->

<div class="app-container" [class.container-is-mobile]="mobileQuery.matches">
    <app-header [sidenav]="snav" class="container-toolbar"></app-header>

    <mat-sidenav-container class="sidenav-container" autosize>
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
       [fixedInViewport]="mobileQuery.matches" fixedTopGap="0" [opened]="!mobileQuery.matches">
        <mat-nav-list>
          <a mat-list-item routerLink="/products">Produits</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>



