

:host {

  .content {
    padding: 0px 15px !important;
    margin-top: 90px;
  }

  .text-content {
    margin: 15px;
    padding: 10px;
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    background: #faf7f2;
  }

  .text-content img {
    display: block;
    width: 35%;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-style: none;
  }

  .text-content h2 {
    font-size: 50px;
    font-weight: normal;
    color: #2c2c2c;
    margin: 5px 0;
    line-height: 1em;
  }

  .text-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  .text-content .field-intro {
    font-size: 18px;
    color: #6b6a6a;
    margin: 0 0 30px 0;
  }

  .text-content .field-intro .table {
    border-top: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }

  .text-content .field-intro .table td {
    border-top: none;
    padding: 0px;
    vertical-align: top
  }
}
